@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.informacao {
    display: flex;        
    align-items: center;
    gap: 60px;  
    margin: 8px 0;            
}

.telefone,
.email {
    display: flex;         
    align-items: center;
    gap: 6px;              
}

.informacao img {
    height: 30px;
    width: 30px;
}

.informacao p {
    margin: 0;     
    font-size: 16px;       
}

hr {
    width: 70%;
    margin: 0%;
}

h4, h2 {
    margin-bottom: 3px;
}

.titulo {
    padding-bottom: 2px;
}

h3 {
    margin-top: 0px;
    font-weight: normal;
}

a {
    color: black;
    text-decoration: none;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border: 3px solid #003366; 
  border-radius: 50%;
}

.layout-geral{
    display: flex;
    gap: 10px;   
    margin: 20px;      
}
